<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CRUDy</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css">
    <link rel="stylesheet" href="node_modules/bootstrap-select/dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="node_modules/dragula/dist/dragula.css">
    <style>
        body {
            background-color: #efefef;
        }

        .element-card {
            background-color: white;
            padding: 10px;
            border-radius: 1px;
            box-shadow: 0 1px 5px grey;
            margin: 10px;
            cursor: default;
        }

        .element-card-list {
            margin: 0;
        }

        .btn:focus, .btn:active {
            outline: none !important;
            box-shadow: none;
        }

        .dropdown-toggle::after {
            display: none
        }

        .element-card-fixed-width {
            width: 300px;
        }
    </style>
</head>
<body>
<div class="modal fade" id="worldwide-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg pull-right dropdown-toggle highlightable"
                        data-toggle="dropdown" style="background-color: initial;">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item action-delete" href="#">Delete</a>
                </div>
                <button type="button" class="btn btn-primary action-save">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="flashed-messages-container">


</div>
<div class="container">

    <div id="blog-posts-list-container">
    </div>

    <script type="text/x-template" id='fe-template-blog_posts_list-list'>
        <button class="btn btn-success action-new" data-model-name="blog_post" data-toggle="modal"
                data-target="#worldwide-modal">New Blog Post
        </button>
        <div class="elements-list"></div>
    </script>
    <script type="text/x-template" id='fe-template-blog_posts_list-element'>
        <div class="element-card element-card-list element-card-fixed-width">
            <button class="btn btn-lg pull-right dropdown-toggle highlightable"
                    data-toggle="dropdown" style="background-color: initial;">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item action-edit" data-model-name="blog_post" href="#">Edit</a>
                <a class="dropdown-item action-delete" href="#">Delete</a>
            </div>
            <p class="lead">
                <%- data.title %>
            </p>
            <p>
                <%- data.body %>
            </p>
        </div>
    </script>
    <script type="text/x-template" id='fe-template-edit-blog_post'>
        <div class="row">
            <div class="col-12">
                <div class="form-group input-full-width">
                    <div class="editable-title"><%= data.title %></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group input-full-width">
                    <div class="editable-body"><%= data.body %></div>
                </div>
            </div>
        </div>
    </script>

</div>


<script type="text/x-template" id='fe-template-core-editable-input-body'>
    <textarea name="<%- name %>" class="edit-entry form-control"
              placeholder="<%- placeholder %>"><%- value %></textarea>
</script>

<script type="text/x-template" id='fe-template-core-editable-input-title'>
    <input type="text" name="<%- name %>" value="<%- value %>" class="form-control lead edit-entry"
           placeholder="<%- placeholder %>"/>
</script>

<script type="text/x-template" id='fe-template-core-editable-input-str'>
    <input type="text" name="<%- name %>" value="<%- value %>" class="form-control edit-entry"
           placeholder="<%- placeholder %>"/>
</script>

<script type="text/x-template" id='fe-template-core-editable-input-int'>
    <input type="number" name="<%- name %>" value="<%- value %>" class="form-control edit-entry"
           placeholder="<%- placeholder %>"/>
</script>

<script type="text/x-template" id='fe-template-core-editable-select'>
    <select class="form-control edit-entry" title="<%- placeholder %>" data-live-search="true" name="<%- name %>">
        <% _(elDetails.choices).each(function(choice) { %>
        <option
        <% if (value == choice[0]) { %>selected="selected"<% } %>
        value="<%- choice[0] %>"><%- choice[1] %></option>
        <% }) %>
    </select>
</script>

<script type="text/x-template" id='fe-template-core-editable-dt'>
    <div class="form-group">
        <input type="hidden" name="<%- name %>" value="<%- value.dt %>" class="edit-entry dt form-control"/>
        <input type="text" value="<%- value.d %>" class="d-value form-control form-control-inline edit-dt-entry"
               placeholder="<%- placeholder %>"/>
        <input type="text" value="<%- value.t %>" class="t-value form-control form-control-inline edit-dt-entry"
               placeholder="<%- placeholder %>"/>
        <input type="hidden" value="<%- value.z %>" class="z-value form-control"/>
        <p class="minmax" style="display:none">none</p>
    </div>
</script>

<script type="text/x-template" id='fe-template-core-flash'>
    <div class="alert alert-<% if (data.category === undefined || data.category === null) { %>danger<% } else { %><%- data.category %><% } %>
            alert-dismissible fade show" role="alert">
        <%- data.message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</script>

<script>
  var MODELS = {
    "blog_post":
      {
        name: "blog_post",
        nameHuman: "",
        namePlural: "blog_posts",
        defaults: {},
        constants: {},
        elements: {
          "body": {"default": null, "effective_type": "body", "type": "str"},
          "title": {"default": null, "effective_type": "title", "type": "str"}
        },
        modelMethods: function (ctx) {
          return {}
        },
        collectionMethods: function (ctx) {
          return {}
        }
      }
  };
</script>

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/moment/moment.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="node_modules/backbone.localstorage/build/backbone.localStorage.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="node_modules/bootstrap-select/js/bootstrap-select.js"></script>
<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="node_modules/dragula/dist/dragula.js"></script>
<script src="crudy.js"></script>

<script>
  new AppListView({
    el: '#blog-posts-list-container',
    collection: COLLECTIONS['blog_post'],
    collectionName: 'blog_post',
    options: {},
    name: 'blog_posts_list',
    type: 'list',
    ElementViewClass: AppElementView
  });
</script>

</body>
</html>